.weatherWidget {
  margin: 10px 0;
  padding: 5px;
  border: #a9b4c2 1px solid;
  background-color: #f4f7f8;
  min-height: 65px;
  text-align: left;
}

.weatherWidget h4 {
  padding: 0;
  margin: 5px 5px 10px;
}

.weatherWidgetInfo {
  display: flex;
}

.weatherWidgetInfo > div {
  margin: 0 10px 5px 20px;
}
.weatherWidgetInfo > div > p {
  margin-bottom: 6px;
}
