.swPlanet {
  width: 100%;
  max-width: 450px;
  background: #eef1ef80;
  border: #fff862 2px solid;
}

.swHead {
  text-align: center;
  margin-top: 10px;
}

.planetSelect {
  margin: auto;
  justify-content: center;
  padding: 10px 0;
}

.planetSelect div {
  margin: 3px;
  border: #5e6572 2px solid;
  background: #fff862;
  padding: 10px;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  height: 26px;
  text-transform: uppercase;
}

.planetSelect div {
  box-shadow: 0 0 5px #515255;
}

.planetSelect div:nth-child(odd) {
  cursor: pointer;
}
.planetSelect div:nth-child(even) {
  width: 190px;
  text-align: center;
}

.planetSelect div:active {
  position: relative;
  top: 2px;
  border-bottom: #5e6572 1px solid;
  box-shadow: 0 0 2px #515255;
}

.swPlanetInfo {
  flex-direction: row;
  padding: 0 20px 20px;
}

.swPlanetInfo p {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}

.swPlanetInfo input,
.swPlanetInfo textarea {
  width: calc(100% - 10px);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  color: #eef1ef;
  background: black;
  border: #fff862 2px solid;
  padding: 4px;
  border-radius: 10px;
}
