.pokeHeader {
  background: #da6464;
  border: #a9b4c2 1px solid;
  margin-bottom: 10px;
  color: #1c2321;
}

.pokeballImg {
  height: 120px;
  border-radius: 50%;
  border: #1c2321 1px solid;
  margin: 0 auto 10px;
}

.pokeHeader {
  margin: 0;
  padding: 5px 5px;
}

.allPokeCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pokeControl {
  display: flex;
  justify-content: space-around;
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

.pokeControl span {
  cursor: pointer;
}
