.starWarsLogo {
  height: 120px;
  margin: 10px auto;
}

.swHeader {
  background: #0c0321;
  border: #fff862 2px solid;
  color: #fff862;
  padding: 5px;
  margin: 10px 0 20px;
}

.swContent {
  border: #1c2321 1px solid;
  padding: 20px;
}
