@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

hr {
  margin-top: 25px;
  border-top: #7d98a180 1px solid;
  border-bottom: none;
}

/* ! COLORS  */
.rien {
  one: #1c2321;
  two: #7d98a1;
  three: #5e6572;
  four: #a9b4c2;
  five: #eef1ef;
}

body {
  margin: 0 70px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #1c2321;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
}
